body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* Headings */
.cite-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Navigavion Bar */
.navbar {
  padding-bottom: 4.5rem;
  text-align: right;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.25rem;
  font-weight: 300;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 800;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  font-size: 4rem;
  padding-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-heading {
  font-size: 1.5rem;
  font-weight: 800;
}

.price-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.pricing-table {
  padding: 3% 2%;
}

/* Call To Action Section */

.cta-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer Section */

.footer-icon {
  margin: 16px 8px;
}

.footer-icon:hover {
  color: #413F42;
}

@media (max-width: 1028px) {

  p {
    font-size: 1.8rem;
  }

  em {
    font-size: 1.5rem;
  }

/* Title Section */

.navbar-toggler-icon-lg {
  width: 3rem;
}

  #title .container-fluid {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }

  /* Features Section */

  .icon {
    font-size: 8rem;
  }

  .feature-title {
    font-size: 3rem;
  }

/* Testimonials Section */

  .testimonial-image {
    width: 30%;
  }

/* Pricing Section */

.price-heading {
  font-size: 3rem;
}

  .footer-icon {
    font-size: 1.5rem;
  }

}
